{% extends 'base.html.twig' %}

{% block title %}Symfony RestaurantS{% endblock %}

{% block body %}
    <div class="w3-display-container w3-container">
    <h1>Formulaire {{ formName }}</h1>
    {{ form(dataForm) }}
    </div>
{% endblock %}
