  <!-- Top header -->
  <header class="w3-container w3-xlarge">
    <p class="w3-left">Nos Restaurants</p>
    <p class="w3-right">
      <i class="fa fa-shopping-cart w3-margin-right"></i>
      <i class="fa fa-search"></i>
    </p>
  </header>